{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <h1>{{category.display_name}} Job Listings</h1>
    {% for index, row in data.iterrows() %}
    <div class="card mt-3">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{row['title']}}</h5>
                    <p class="card-text">{{row['description'][:150]}}... <strong><a href="{{ url_for('routes.job_page', category_url=category.url, entry_id=row['id']) }}">Read more</a></strong></p>
                </div>
            </div> 
            <div class="col-md-4 d-flex justify-content-end">
                <img src="/static/imgs/bg.jpg" class="img-fluid rounded-start card-img" alt="Job image">
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!--
    <h1 >{{ category.display_name }}</h1>
    <div id="main" style='height: auto'>
        <div id="content" style='height: auto'>
          
            <div class="box" style='height: auto'>
                <div class="cl">&nbsp;</div>
                <div class="posts">
                    {% for index, row in data.iterrows() %}
                        <div class="post-subpage">
                            <div class="data">
                            <h4><a href="{{ url_for('routes.job_page', category_url=category.url, entry_id=row['id']) }}">
                                {{ row['title'] }} 
                            </a></h4>
                            <p> {{ row['description'][0:800] }}</p>
                            </div>
                        </div>
                  {% endfor %}
                  <div class="cl">&nbsp;</div>
                </div>
              </div>
      
          <div class="cl">&nbsp;</div>
        </div>
        <div class="cl">&nbsp;</div>
      </div> -->
{% endblock %}