{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <h1>{{category.display_name}} Job Listings</h1>
    {% for index, row in data.iterrows() %}
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">{{row['title']}}</h5>
            <p class="card-text">{{row['description'][:200]}}... <strong><a href="{{ url_for('routes.job_page', category_url=category.url, entry_id=row['id']) }}">Read more</a></strong></p>
        </div>
     </div>
    {% endfor %}
</div>
{% endblock %}