{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="home grid-container m-5">
    {% for category in all_data %}
        <div class="">
            <a href="/{{category.url}}"><h3 class="category-title">{{ category.display_name }}</h3></a>
            {% if category.data is not none %}
                {% for index, row in category.data.iterrows() %}
                    <div class="card mt-3"> 
                        <div class="card-body">
                            <h5 class="card-title">{{row['title']}}</h5>
                            <p class="card-text">{{row['description'][:180]}}... <strong><a href="{{ url_for('routes.job_page', category_url=category.url, entry_id=row['id']) }}">Read more</a></strong></p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No data available for {{ category.display_name }}</p>
            {% endif %}
        </div>
    {% endfor %}
</div>



{% endblock %}